{% extends 'main/layout.html' %} 

{% block title %}Про нас{% endblock %} 

{% block content %}
  <div class="features">
    <h1>Про нас</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nesciunt reiciendis iusto nostrum perspiciatis neque voluptatibus. Accusantium maiores rem dicta praesentium blanditiis perspiciatis beatae, eius incidunt maxime est repudiandae accusamus.</p>
    <a href="/"><button class="btn btn-danger to-main-page">На главную страницу</button></a>
  </div>
{% endblock %}
